/* 
    Created on : Mar 30, 2016, 8:36:10 PM
    Author     : Reaper
*/

.forumwrap {
	display:inline-block;
	font-size:10px;
}
.sidebarleft {
	display: block;
	font-size:12px;
	width:20%;
}
.sidebarright {
	display: inline-block;
	font-size: 12px;
    width: 20%;
}
.sidebarcenter {
	display:inherit;
	font-size: 12px;
}
iframe.viewer {
	background-color: #fff;
	width: 100%;
	height: 300px;
	overflow:scroll;
}
.online-block-avatar {
	max-width: 30%;
}
.online-block-avatar img {
	width: 100%;
	height: auto;
	max-height: 43px;
}

.online-block-avatar,
.online-block-user {
	display: inline-block;
}