<!-- IF S_DISPLAY_BLOCKS -->
<!-- IF S_LEFT_SIDEBAR -->
<div class="sidebarleft"<!-- IF SCRIPT_NAME == 'index.php' --> style="margin-top: 50px;"<!-- ENDIF -->>
<!-- BEGIN leftblock -->
		
		<div class="panel">
			<div class="inner">
				<div class="block_header">{leftblock.NAME}</div>
				<div class="block_content">{leftblock.CONTENT}</div>
			</div>
		</div>
		
		<!-- END leftblock -->
</div>
<!-- ENDIF -->
<div class="forumwrap" <!-- IF S_LEFT_SIDEBAR and S_RIGHT_SIDEBAR -->style="width: 59%;"<!-- ENDIF -->
	 <!-- IF S_LEFT_SIDEBAR or S_RIGHT_SIDEBAR -->style="width:78%"<!-- ENDIF -->
	 <!-- IF not S_LEFT_SIDEBAR and not S_RIGHT_SIDEBAR -->style="width:100%"<!-- ENDIF -->> 
	 
<!-- ENDIF -->